@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
   transition: 300ms ease-out;
}
body {
   width: 100%;
   height: 100%;
   background-color: lightgray;
}
a {
   text-decoration: none !important;
   cursor: pointer;
}
.container-fluid {
   padding: 0;
}

.navbar {
   height: 10vh;
   background: #0071bc !important;
}

.navbar .navbar-brand {
   font-size: 36px;
   font-style: normal;
   font-weight: 700;
   line-height: 54px;
   letter-spacing: 0em;
   text-align: left;
   color: #fff;
}
.navbar .navbar-brand:hover {
   color: #fff;
}

.search .dropdown {
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: 20px;
   letter-spacing: 0em;
   text-align: left;
}
.container.search .dropdown a {
   color: black;
}
.container.search .results {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   margin: 5vh auto;
}
.results .box {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   margin: 5vh auto;
   height: 300px;
   background-color: #fff;
   border-radius: 17px;
}
.results .box .image {
   position: absolute;
   border: 5px solid #e6e6e6;
   top: -5%;
   width: 150px;
   height: 150px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: black;
}
.results .box .image img {
   width: 130px;
   height: 130px;
   border-radius: 50%;
   /* background-color: black; */
}
.results .box .name {
   position: absolute;
   top: 50%;
   font-size: 16px;
   font-style: normal;
   font-weight: 600;
   line-height: 38px;
   letter-spacing: 0em;
   text-align: center;
}
.results .box .social {
   position: absolute;
   top: 65%;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   width: 80%;
}
.social span.red {
   color: red;
}
.social span.blue {
   color: rgb(39, 148, 216);
}
.social span.green {
   color: green;
}
.results .box a {
   position: absolute;
   bottom: 10%;
   width: 50%;
   background: #0071bc;
   color: #fff;
   text-align: center;
   border-radius: 10px;
   padding: 5px;
}
.navigation {
   width: 100%;
   display: flex;
   justify-content: center;
   margin-top: 5vh;
}
.navigation .pagination {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   width: 20%;
}
.navigation .pagination .page-item a {
   background: #666666;
   color: #fff;
}
.navigation .pagination .page-item a:hover {
   background: #0071bc;
}

@media only screen and (max-width: 770px) {
   .navbar-nav {
      background-color: #bcc3c7;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
   }
   .collapse .form-inline {
      visibility: hidden;
   }

   .navbar ul li a {
      color: #0071bc !important;
   }
}
@media only screen and (max-width: 430px) {
   .container.search form input {
      width: 50%;
   }
   .container.search .results {
      flex-wrap: unset;
      flex-direction: column;
   }
   .results .box {
      width: 80%;
   }
}

.ask-modal {
   height: 90vh;
   width: 100%;
   display: flex;
   align-items: center;
   overflow: hidden;
   justify-content: center;
   left: 0;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 10;
   transition: 0.3s ease-in-out;
}

#loader {
   /* position: absolute; */
   transform: translate(-50%, -50%);
   width: 200px;
   height: 200px;
   /* margin: -76px 0 0 -76px; */
   border: 16px solid #f3f3f3;
   border-radius: 50%;
   border-top: 16px solid #0071bc;
   -webkit-animation: spin 2s linear infinite;
   animation: spin 2s linear infinite;
   z-index: 10000;
}
@media all and (min-width: 767px) {
   #loader {
      left: 40%;
   }
}

@-webkit-keyframes spin {
   0% {
      -webkit-transform: rotate(0deg);
   }
   100% {
      -webkit-transform: rotate(360deg);
   }
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}
.bg-black-angular {
   width: 100%;
   background: #1a1a1a;
   display: flex;
   flex-direction: row;
   position: relative;
   height: 30vh;
   justify-content: space-evenly;
}

.bg-black-angular .image {
   width: 300px;
   height: 300px;
   position: absolute;
   border-radius: 50%;
   background-color: #1a1a1a;
   bottom: -50%;
   left: 5%;
   border: 15px solid #fff;
   display: flex;
   align-items: center;
   justify-content: center;
}
.bg-black-angular .angular {
   width: 60%;
   display: flex;
   justify-content: flex-end;
   align-items: baseline;
   position: absolute;
   right: 0;
   bottom: 0;
}
.bg-black-angular .angular img {
   width: 100%;
}
.bg-black-angular .image img {
   width: 290px;
   height: 290px;
   border-radius: 50%;
}

.content {
   margin: 0 auto;
   margin-top: 5vh;
   /* height: 80vh; */
   display: flex;
   justify-content: space-between;
   width: 90%;
}
.content .info {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 350px;
}
.content .info .name {
   font-size: 35px;
   font-style: normal;
   font-weight: 400;
   line-height: 10px;
   letter-spacing: 0em;
   color: #000000;
}
.content .info .handle {
   color: #666666;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   text-align: left;
}
.content .info .social {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   width: 30%;
}
.content .info .social .icon {
   color: #1a1a1a;
   font-size: large;
}
.content .info .buttons {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 60%;
   margin: 10px auto;
}
.content .info .buttons a {
   background: #0071bc;
   color: #fff;
   text-align: center;
   border-radius: 10px;
   padding: 5px 10px;
}
.content .info .buttons .light-b {
   background: #29abe2;
}
.content .info .location {
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 30px;
   letter-spacing: 0em;
   text-align: left;
   color: #666666;
}

.content .recents .heading {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0;
}
.content .recents .heading h2 {
   color: #000000;
   font-size: 28px;
   font-style: normal;
   font-weight: 300;
   letter-spacing: 0em;
   text-align: left;
}
.content .recents .heading p {
   color: #000000;
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   letter-spacing: 0em;
   text-align: left;
}

.content .recents .project {
   width: 100%;
   padding: 20px;
   background: white;
   border-radius: 10px;
   margin: 20px auto;
   box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
   cursor: pointer;
   transition: 0.3s ease-in;
   color: rgba(0, 0, 0, 0.8);
}
.project-header h3 {
   font-size: 20px;
}
.content .recents .project:hover {
   background: #e6e6e6;
   box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}
.project-social {
   display: flex;
}
.project-social > div {
   margin-right: 10px;
}
@media only screen and (max-width: 1024px) {
   .bg-black-angular .image {
      width: 250px;
      height: 250px;
      bottom: -25%;
      left: 2%;
   }
   .bg-black-angular .image img {
      width: 90%;
      height: auto;
   }

   .content .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 250px;
   }
}

@media only screen and (max-width: 991px) {
   .bg-black-angular .image {
      left: 5%;
   }
}

@media only screen and (max-width: 767px) {
   .container-fluid .content {
      flex-direction: column;
   }
   .container-fluid .content .info {
      flex-direction: column;

      width: 100%;
      height: 100px;
      border-bottom: 2px solid #666666;
   }
   .content .recents {
      width: 100%;
      margin-top: 10px;
   }
   .container-fluid.bg-black-angular {
      height: 30vh;
   }
   .container-fluid.bg-black-angular .image {
      height: 100px;
      width: 100px;
      height: auto;
      left: 2%;
      bottom: -20%;
      border: 5px solid #fff;
   }
   .content .recents .project {
      margin: 10px auto;
      box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
   }
   .project-header h3 {
      font-size: 18px;
   }
   .content .recents .heading h2 {
      color: #000000;
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      letter-spacing: 0em;
      text-align: left;
   }
   .content .info .name {
      font-size: 24px;
   }
   .content .info .handle {
      font-size: 16px;
   }
   .content .info .location {
      font-size: 14px;
   }
}

.angular-outline {
   height: 30vh;
   width: 100%;
   background: #2e3192;
}
.angular-outline .bg-darkblue {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   position: relative;
}
.angular-outline .bg-darkblue img {
   position: absolute;
   bottom: 0;
   z-index: 99;
}
.angular-outline .bg-darkblue .empty.blue-bg {
   height: 5vh;
   background: #29abe2;
   width: 100%;
   position: absolute;
   bottom: 0;
}
.alvo {
   padding: 30px;

   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.alvo .alvo-info {
   width: 60%;
   display: flex;
   flex-direction: column;
}
.alvo .repo-name {
   margin-bottom: 0;
   font-size: 45px;
   font-style: normal;
   font-weight: 500;
   text-transform: capitalize;
   letter-spacing: 0em;
   text-align: left;
}
.alvo .date {
   color: #0071bc;
}
.alvo-info > * {
   margin: 5px 0;
}

.alvo .buttons {
   display: flex;
   justify-content: space-evenly;
   align-items: flex-end;
}

.alvo .buttons a {
   background: #0071bc;
   color: #fff;
   text-align: center;
   border-radius: 10px;
   padding: 15px 20px;
}
.alvo .buttons .dark {
   background: #4d4d4d;
}

hr {
   border-top: 1px solid #4d4d4d;
}
@media only screen and (max-width: 1024px) {
   /* .container-fluid.alvo {
      height: 55vh;
   }
   .container-fluid.contributors {
      height: 75vh;
   }
   .container-fluid.getting-started .content .see-more {
      width: 15%;
      margin-left: 55%;
   } */
}

@media only screen and (max-width: 767px) {
   .container-fluid.container-fluid.angular-outline .bg-darkblue img {
      width: 100%;
   }
   .container-fluid.alvo {
      margin-top: 10vh;
      height: 55vh;
   }
   .alvo {
      padding: 15px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }

   .alvo .alvo-info {
      width: 100%;
      display: flex;
      flex-direction: column;
   }
}
